<div class="container">
  <div class="card">
      <div class="card-image">
          <img class="activator" src="https://picsum.photos/id/355/500/500" alt="Card Header Image">
      </div>
      <div class="card-content">
          <span class="card-title">Card Title<i class="material-icons more">more_vert</i></span>
          <p>11/18/2019 | 1:00 PM</p>
          <p>1756 114th Ave SE, Bellevue, WA 98004</p>
          <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
          <span class="card-title">Card Title<i class="material-icons close">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
  </div>

  <div class="card">
      <div class="card-image">
          <img class="activator" src="https://picsum.photos/id/355/500/500" alt="Card Header Image">
      </div>
      <div class="card-content">
          <span class="card-title">Card Title<i class="material-icons more">more_vert</i></span>
          <p>11/18/2019 | 1:00 PM</p>
          <p>1756 114th Ave SE, Bellevue, WA 98004</p>
          <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
          <span class="card-title">Card Title<i class="material-icons close">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
  </div>

  <div class="card">
      <div class="card-image">
          <img class="activator" src="https://picsum.photos/id/355/500/500" alt="Card Header Image">
      </div>
      <div class="card-content">
          <span class="card-title">Card Title<i class="material-icons more">more_vert</i></span>
          <p>11/18/2019 | 1:00 PM</p>
          <p>1756 114th Ave SE, Bellevue, WA 98004</p>
          <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
          <span class="card-title">Card Title<i class="material-icons close">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
  </div>
</div>